*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 380% 380%;
    margin: 0;
    padding: 0;
}
h1{ 
     
    color: #000000;
    font-size: 40px; 
    margin-left: 100px;
    text-align: center;
}
h2{
    
    color: #000000;
    font-size: 40px; 
    margin-left: 100px;
    padding: 80px;
    text-align: left;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px; 
    text-align: left;
    padding: 20px;
    margin: 20px;

}
.column1{
    background-color: #4f4f51; padding: 0.01%;
    font-style: #fff;
    margin: 0 auto;
    font-size: 150%; 
    text-align: center;
}
.column2{
    font-size: 25px; 
    color: #000000;
    margin-bottom: 100px;
    padding-left: 170px ;
    text-align: left;
}
.column3{
    font-size: 25px; 
    color: #000000;
    text-align: center;
}

nav {
    padding: 1rem;
    background-color: #505050;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo a{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}
.menu{
    display:flex;
    list-style: none;
    align-items: center;
}
.menu li{
    margin: 0 1rem;
}
.menu li a{
    color:#fff;
    text-decoration: none;
}
.profile{
    position: absolute;
    height: 70%;
    top: 43%;
    bottom: 0;
    right: 300px;
    border-radius: 10%;
}